################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/testappKhai/.vs/testappKhai.slnx
/testappKhai/App test/.vs/App test.slnx
/testappKhai/Test Web/.vs/Test Web.slnx/v18
/testappKhai/testweb/.vs/testweb.slnx
