################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/testappKhai/.vs/testappKhai.slnx
/testappKhai/App test/.vs/App test.slnx
/testappKhai/Test Web/.vs/Test Web.slnx/v18
/testappKhai/testweb/.vs/testweb.slnx
/testappKhai/App test/.vs/App test/CopilotIndices/17.14.1091.29919
/testappKhai/App test/App test/obj/Debug/App test_MarkupCompile.cache
/testappKhai/App test/App test/obj/Debug/App test_MarkupCompile.lref
/testappKhai/App test/App test/obj/Debug/App test.csproj.AssemblyReference.cache
/testappKhai/App test/App test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/testappKhai/testweb/.vs/testweb/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/testappKhai/testweb/.vs/testweb/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/testappKhai/testweb/.vs/testweb/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/testappKhai/testweb/.vs/testweb/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
